# This file
.dockerignore

# Git files
.git/
.gitignore

# VS Code config dir
.vscode/

# Docker configuration files
Dockerfile
docker-compose.yml

# Assets dependencies and built files
views/build/
views/node_modules/

# Log files
logs/

# Built binary
# ENV file
.env

# Readme file
README.md